@using AMH.Common;
@using AMH.Pages;
@{
    ViewBag.Title = "success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
</head>
<style>
    body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
    }

    h1 {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }
</style>
<body>
        <div class="card" style="margin-top:250px;">
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="checkmark">✓</i>
            </div>
            <h1>Success</h1>
            <p>We received your purchase request;<br /> we'll be in touch shortly!</p>
        </div>
</body>
<script>
    var ProIds = [];
    var Quantities = [];
    var Prices = [];
    var TotalAmout;
    $(document).ready(function ($) {
        productadd('', 0);

    });


    function productadd(search, lm) {
        $.ajax({
            type: "get",
            url: '@Url.Action(Actions.Cart_All, Controllers.Cart)',
            data: ({ limit: lm, Search: search }),
            dataType: 'json',
            success: function (response) {
                var htmlData = "";
                var subtotal = 0;
                if (response.Values.length > 0) {

                    for (var i = 0; i < response.Values.length; i++) {
                        subtotal += response.Values[i].Total;

                        ProIds.push(response.Values[i].Product_Id);
                        Quantities.push(response.Values[i].Quantity);
                        Prices.push(response.Values[i].Price);
                        TotalAmout = subtotal + 100;
                    }
                    paymentorder();
                }
                else {

                   // htmlData += '<h5 class="text-center">No Record Found</h5>';
                }

                //$("#carttotal").html(htmlData);
            },
            error: function (error) {
            }
        })
    }



    function paymentorder() {
        var proids = ProIds.toString();
        var quantities = Quantities.toString();
        var prices = Prices.toString();
        var totalamout = TotalAmout;

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.OrderAMH_Upsert, Controllers.Order)',
            data: { ProIds: proids, Quantities: quantities, Prices: prices, TotalAmout: totalamout, PaymentStatus: true },
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {
                    setTimeout(chwindow, 5000);
                }
            },
            error: function (error) {
            }
        });
    }
    function chwindow() {
        window.location.href = '@Url.Action(Actions.Index, Controllers.Cart)'
    }
</script>

